---
import Img from '../components/img.astro'

const callouts = [
  {
    name: 'Personal Knowledge Base',
    description: 'Today, everyone is a knowledge worker. Logseq helps you organize your thoughts and ideas so that you can come up with new outputs more easily',
    imageSrc: '../images/svg/rnwolf/logseq-logo.svg',
    imageAlt: 'Logseq logo',
    href: 'https://logseq.com',
  },
  {
    name: 'Agile',
    description:
      'Agile working practices include requirements discovery and solutions improvement through the collaborative effort of self-organizing and cross-functional teams with their customers or end users.',
    imageSrc: '../images/svg/rnwolf/agile.svg',
    imageAlt: 'Logo representing agile behaviours',
    href: 'https://en.wikipedia.org/wiki/Agile_software_development',
  },
  {
    name: 'TameFlow',
    description: 'The core building blocks of the web',
    imageSrc: '../images/svg/undraw/undraw_static_assets.svg',
    imageAlt: 'Core Web',
    href: 'https://tameflow.com',
  },
]
---

<div class="bg-purple-100 dark:bg-purple-900">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="max-w-2xl mx-auto py-16 sm:py-24 lg:py-32 lg:max-w-none">
      <h2 class="text-4xl font-extrabold text-purple-800 dark:text-purple-100">
        Find Out More
      </h2>
      <div
        class="mt-6 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-6"
      >
        {
          callouts.map(callout => (
            <div class="group relative">
              <div class="relative w-full h-80 bg-white dark:bg-purple-600 rounded-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
                <Img
                  src={callout.imageSrc}
                  alt={callout.imageAlt}
                  class="w-full h-full object-center object-contain"
                />
              </div>
              <h3 class="mt-6 text-2xl text-purple-500 dark:text-purple-300">
                <a href={callout.href}>
                  <span class="absolute inset-0" />
                  {callout.name}
                </a>
              </h3>
              <p class="text-base text-gray-900 dark:text-gray-100">
                {callout.description}
              </p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
